# Fichiers compilés Java
*.class

# Dossier de sortie des compilations Maven
/target/

# Fichiers générés par les IDE (IntelliJ, Eclipse, VSCode, etc.)
.project
.classpath
.settings/
.idea/
*.iml

# Fichiers temporaires
*.log
*.tmp
